Description text for the Ajax Alert Example.

#}


{% set ajax_alert_example = path('ajax_alert_example') %}

{% trans %}

<p><a href={{ ajax_alert_example }} AJAX Alert Example</a></p>
{% endtrans %}
